*, ::before, ::after {
    box-sizing: border-box
}

/* button {
    --border-color: var(--grey-200, hsl(0, 3%, 87%));
    --color: var(--grey-500, #686464);
    --focus-border: var(--grey-100, hsl(0, 8%, 93%));
    --active-bg: var(--grey-200, hsl(0, 3%, 87%));
    --hover-bg: var(--grey-400, #9d9a99);
    /* --icon-fill: var(--grey-500, #686464); *
} */

/* button {
    --border-color: var(--grey-200, hsl(0, 3%, 87%));
    --color: var(--grey-500, rgb(104, 100, 100));
    --hover-bg:     #eeebeb;
    --active-bg:    #dedcdc;
    --focus-border: #9d9a99;
    /* --icon-fill: var(--grey-500, #686464); *
} */


button {
    --secondary-rgb: 222, 220, 220;
    /* --secondary: var(rgb(222, 220, 220)); */
    --foreground-rgb:    104, 100, 100;

    --secondary: rgb(var(--secondary-rgb));
    --color:        rgba(var(--foreground-rgb), 90%);
    --hover-bg:     rgba(var(--foreground-rgb), 10%);
    --active-bg:    rgba(var(--foreground-rgb), 20%);
    --focus-border: rgba(var(--foreground-rgb), 60%);
    /* --icon-fill: var(--grey-500, #686464); */
}
/* button.dark {
    --secondary-rgb:  74, 74, 74;
    
    --foreground-rgb: 152, 152, 152;
    /* --color: rgb(var(--color-rgb)); */
    /* --hover-bg:     rgba(var(--color-rgb), 15%);
    --active-bg:    rgba(var(--color-rgb), 20%);
    --focus-border: rgba(var(--color-rgb), 60%); *
} */

button {
    background: none;
    /* --border-color: var(--grey-200, hsl(0, 3%, 87%)); */
    border: 1px solid var(--secondary);
    /* padding: 2px; */
    border-radius: 25px;
    /* height: 27px; */
    padding: 4px;
    color: var(--color);
    outline: 0;
    font-size: 0.9em;
}

button.has-default {
    padding: 8px 16px;
}

button.has-icon.has-default {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 4px 8px;
}

button:hover {
    background-color: var(--hover-bg);
}
button:active {
    background-color: var(--active-bg);
}
button:focus {
    --secondary: var(--focus-border);
}

/* Icon styles */
button.has-icon > :first-child {
    display: block;
    height: 25px;
    width: auto;
    padding: 2px;
    fill: var(--color);
}
button.has-icon.has-default > :first-child {
    /* padding: 2px; */
    padding: 3px 5px 3px 0;
}
