.Ulight-button {
    --hover-bg: rgba(var(--foreground-rgb), 10%);
    --active-bg: rgba(var(--foreground-rgb), 20%);
    --focus-border: rgba(var(--foreground-rgb), 60%);
    --border-color: var(--foreground-light-color);

    background: var(--background-color);
    border: 1px solid var(--border-color);
    border-radius: 25px;
    padding: 2px;
    color: var(--foreground-color);
    outline: 0;
    font-size: 0.9em;
}

.Ulight-button.has-default {
    padding: 6px 12px;
}
.Ulight-button.has-icon.has-default {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 2px 10px;
}

.Ulight-button:hover {
    background-color: var(--hover-bg);
}
.Ulight-button:active {
    background-color: var(--active-bg);
}
.Ulight-button:focus {
    --border-color: var(--focus-border);
}

/* Icon styles */
.Ulight-button.has-icon > :first-child {
    display: block;
    height: 25px;
    width: auto;
    padding: 2px;
    fill: var(--foreground-color);
}
.Ulight-button.has-icon.has-default > :first-child {
    /* padding: 2px; */
    padding: 3px 5px 3px 0;
}
