.Ulight-element.Ulight-heading {
    color: var(--foreground-color);
    font-size: 1.2rem;
    font-style: italic;
    font-family: var(--style-font);
}

h2.Ulight-heading {
    color: rgba(var(--foreground-rgb), 0.9);
    font-size: 1.1em;
}
