.Ulight-ToggleButton {
    display: inline-block;
}

.Ulight-ToggleButton input[type='checkbox'],
.Ulight-ToggleButton input[type='radio'] {
    position: absolute;
    opacity: 0;
}

.Ulight-ToggleButton input[type='checkbox'] + .Ulight-ToggleElement,
.Ulight-ToggleButton input[type='radio'] + .Ulight-ToggleElement {
    display: inline-block;
}
.Ulight-ToggleButton input[type='checkbox']:checked + .Ulight-ToggleElement,
.Ulight-ToggleButton input[type='radio']:checked + .Ulight-ToggleElement {
    background: var(--accent-color);
    color: rgb(220, 220, 220);
    border-color: transparent;
}
